#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.titleTodo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 3em;
  color: rgba(72, 64, 64, 0.44);
  letter-spacing: -3px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur 5s ease-out infinite;
  text-shadow: 0px 0px 5px #fff,
    0px 0px 7px #fff;
}

@keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fff,
      0px 0px 10px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #b87b7b,
      0px 0px 150px #b87b7b,
      0px 10px 100px #b87b7b,
      0px 10px 100px #b87b7b,
      0px 10px 100px #b87b7b,
      0px 10px 100px #b87b7b,
      0px -10px 100px #b87b7b,
      0px -10px 100px #b87b7b;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}